@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

header {
    background-color: #c8d514;
}


.left-main {
    width: 20%;
    background-color: #829985;
}

.right-main {
    width: 80%;
    background-color: aquamarine;
}

footer {
    background-color: blueviolet;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
  }

a {
    text-decoration: none;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

.rolling-scopes-icon {
    width: 32px;
    height: 32px;
}

.photo{
    width: 190px;
    height: 190px;
}

.ul-contacts {
    list-style: none;
}

.contacts-img {
    width: 32px;
    height: 32px;
    background-color: white;
}

.github-icon {
    width: 32px;
    height: 32px;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}
  
.link:hover {
    color: #5d7260;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}









