@font-face {
    font-family: 'NotoSerif';
    src: url(assets\fonts\Noto_Serif\NotoSerif-Regular.ttf);
}

@font-face {
    font-family: 'NotoSerif';
    src: url("assets\fonts\Noto_Serif\NotoSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'NotoSerif';
    src: url("assets\fonts\Noto_Serif\NotoSerif-Italic.ttf");
    font-weight: italic;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'NotoSerif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid red;
}

main {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .rolling-scopes-logo {
    width: 190px;
    height: 190px;
  }